---
import "../styles/fonts.css";

export interface Props {
  name?: string;
}

const name = "n4.gg";
const title = `${name} ${Astro.props.name ? `- ${Astro.props.name}` : ""}`;
const description = "Home page for n4.gg Inc - Fullstack web development.";
const image = "/images/banner.png";
const author = "Vyast";
const keywords = "fivem, development, web, n4, vyast";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <meta name="theme-color" content="##171717" />
    <meta name="apple-mobile-web-app-title" content={title} />
    <meta name="application-name" content={name} />

    <link href="/images/white-144.png" rel="apple-touch-icon" sizes="144x144" />
    <link href="/images/white-114.png" rel="apple-touch-icon" sizes="114x114" />
    <link href="/images/white-72.png" rel="apple-touch-icon" sizes="72x72" />
    <link href="/images/white-57.png" rel="apple-touch-icon" />
    <link href="/favicon.png" rel="shortcut icon" />

    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://n4.gg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:creator" content="@vyasts" />
  </head>
  <body class="bg-hero-pattern dark:bg-neutral-900 bg-neutral-200 dark:text-white text-black font-['BlenderPro']">
    <slot />
  </body>
</html>
