---
export interface Props {
  name?: string;
}

const name = "n4.gg";
const title = `${name} ${Astro.props.name ? `- ${Astro.props.name}` : ""}`;
const description = "Home page for n4.gg Inc - Fullstack web development.";
const author = "Vyast";

const getBaseUrl = () => {
  if (typeof window !== "undefined") return "";
  if (process.env.VERCEL_URL) return `https://${process.env.VERCEL_URL}`;
  return `http://localhost:${process.env.PORT ?? 3000}`;
};

const url = getBaseUrl();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={name} />
    <meta name="og:image" property="og:image:alt" content="/logo.png" />
    <meta name="url" property="og:url" content={url} />
    <meta name="author" property="og:author" content={author} />
    <meta name="image" property="image:alt" content="/logo.png" />
    <meta name="description" property="og:description" content={description} />

    <meta name="theme-color" content="#00feff" />
    <meta name="apple-mobile-web-app-title" content={name} />
    <meta name="application-name" content={name} />

    <meta name="twitter:site" content="@vyasts" />
    <meta name="twitter:image" content="/logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={name} />
    <meta name="twitter:description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
